.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.label {
  font-weight: 500;
  color: var(--text-dark-gray);
  margin-bottom: 4px;
}

.inputBox {
  height: 40px;
  padding: 0 12px;
  border: 1px solid var(--border-light-gray);
  border-radius: 8px;
}
