.pageButton {
  min-height: 32px;
  min-width: 32px;
  padding: 6px 10px;
  border: 0;

  background: var(--white);
  cursor: pointer;
}

.pageButton:disabled {
  cursor: default;
  opacity: 0.6;
}

.pageButtonActive {
  border-radius: 100%;

  font-weight: 700;
  background: var(--border-dark-gray);
  color: var(--white);
}
