.button {
  height: 40px;
  width: max-content;

  border: 0;
  border-radius: 8px;
  padding: 0 12px;

  background-color: var(--before-black);
  color: var(--white);

  &:hover {
    background-color: var(--black);
  }
}
