.category {
  min-height: 20px;
  width: 100%;
  padding: 10px 60px;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid var(--border-light-gray);
  font-weight: bold;

  & a {
    border-right: 0.5px solid var(--border-light-gray);
    padding: 0 10px;

    text-decoration: none;
    color: var(--font-gray);
    &:hover {
      color: var(--font-dark-gray);
    }
  }
}
