.header {
  min-height: 60px;
  width: 100%;
  padding: 0px 60px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  background-color: var(--white);
  border-bottom: 1px solid var(--line-gray);

  font-size: 14px;

  & a {
    background-color: transparent;
    color: black;
    text-decoration-line: none;
  }
}

.zzalang {
  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: bold;

  & img {
    margin: 0 8px 0 0;
  }
}

.identify {
  display: flex;
  align-items: center;

  & a {
    margin: 0px 8px;
    border: 1px solid var(--line-light-gray);
    border-radius: 20px;
    padding: 8px 8px;

    &:hover {
      border: 1px solid var(--line-bolder-gray);
    }
  }
}
