.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-width: 50%;
}

.pageName {
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.errorMessage {
  color: var(--danger);
}

/* main */

.mainContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  min-width: 100%;
}

.boardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postSection {
  /* 로딩중인 경우 페이지네이션 위치 고정을 위함 */
  min-height: 400px;
}

.postHeaders,
.post {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 2fr;
  column-gap: 12px;
  align-items: center;
}

.postHeaders {
  border-bottom: 1px solid var(--border-light-gray);
  padding: 10px 0;
  font-weight: bold;
}

.post {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-light-gray);
}

.loading {
  padding: 20px 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-top: 10px;
}

/* Posting */
.postingContainer {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  gap: 20px;
}

.postingTitle {
  min-height: 20px;
  border: 0;
  border-bottom: 1px solid var(--border-light-gray);
  padding-bottom: 4px;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.postingContent {
  border: 0;

  &:focus {
    outline: none;
  }
}

.postingFooter {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4px;
}
