.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-width: 50%;
}

.pageName {
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.errorMessage {
  color: var(--danger);
}
