html,
body {
  margin: 0;
  height: 100%;

  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

* {
  --white: #ffffff;
  --before-black: #1f1f1f;
  --black: #000000;
  --border-light-gray: #e5e5e5;
  --border-dark-gray: #5e5e5e;
  --bg-light-gray: #f5f5f5;
  --font-gray: #979797;
  --font-dark-gray: #555555;
  --before-danger: #ed5166;
  --danger: #f6465d;
}
