html,
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
