.header {
  height: 40px;
  width: 100%;
  padding: 4px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  background-color: salmon;
}

.logo {
  display: flex;
  align-items: center;

  & .zzalang {
    margin: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

.identify {
  display: flex;
  align-items: center;

  & a {
    margin: 0px 8px;
    border: 0;

    background-color: transparent;
    color: black;
    text-decoration-line: none;
  }
}
