.header {
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: sticky;
  top: 0;

  background-color: salmon;
}

.zzalang {
  margin: 4px;
}
